.board {
    --width: 80px;
    --height: 125px;
    --length: calc(var(--width) * 9 + var(--height) * 2);

    width: var(--length);
    height: var(--length);

    display: grid;
    grid-template-rows: var(--height) repeat(9, var(--width)) var(--height);
    grid-template-columns: var(--height) repeat(9, var(--width)) var(--height);
}

.center {
    grid-row: 2 / 11;
    grid-column: 2 / 11;
}